/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

.uperDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.uperDiv h1{
    padding-bottom: 40px;
}

.header-container {
    align-items: center;
    justify-content: flex-start;
}

.uperDiv h1 {
    font-size: 28px;
}

.U-profile {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-left: 250px;
}

.U-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.U-profile h3 {
    margin: 0;
}

.invite {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 100px;
}

.invite textarea {
    width: 300px;
    height: 40px;
    margin-right: 10px;
}

.invite button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.invite button:hover {
    background-color: #0056b3;
}
.invite label{
    font-weight: 700;
    margin-right: 5px;
}

.ref-graph {
    border-width: 2px; 
    border-style: solid;  
    border-color: #E0E0E0; 
    padding: 5px;  
    background-color: #fff;  
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);  \
}

.ref-graph h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

#referralChart {
    max-width: 100%;  /* Ensure chart stays within the container */
    height: 300px;  /* Fixed height for the chart */
}



.ref-table {
    width: 60%;
    margin-left: 20px;
    border-collapse: collapse;
    float: right;
}

.ref-table th, .ref-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.ref-table th {
    font-size: 18px;
}

.referal-stats {
    margin-top: 20px;
    float: left;
}

.chart-container {
    width: 300px;
    height: 300px;
}
